<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <meta charset="utf-8" />
    <link href="/static/css/modals.css" rel="stylesheet" th:href="@{/css/modals.css}"/>
    <link href="/static/css/buttons.css" rel="stylesheet" th:href="@{/css/buttons.css}"/>
    <link href="/static/css/slideshow.css" rel="stylesheet" th:href="@{/css/slideshow.css}"/>
</head>
<body>
<header th:replace="layout :: site-header" />
<div class="breadcome-area all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                                <form role="search" class="sr-input-func">
                                    <input type="text" placeholder="Search..." class="search-int form-control"/>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="breadcome-menu">
                                <li>
                                    <a href="#">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li>
                                    <span class="bread-blod">Reported Posts</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Static Table Start -->
<div class="static-table-area all-content-wrapper">
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 30px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline8-list">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Reported Posts Table</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="static-table-list">
                            <table class="table" id="ReportPostsTable">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>Poster</th>
                                    <th>Post Time</th>
                                    <th>Reporter</th>
                                    <th>Report Time</th>
                                    <th>Reason</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--@{-->
                                <!--for (int i = 0; i < Model.Count; i++)-->
                                <!--{-->
                                <!--<tr>-->
                                    <!--<td>@(i + 1)</td>-->
                                    <!--<td>@Model[i].Post.Post_ID</td>-->

                                    <!--@if (Model[i].Post.customers != null)-->
                                    <!--{-->
                                    <!--<td>@Model[i].Post.customers.LastName @Model[i].Post.customers.Firstname</td>-->
                                    <!--}-->
                                    <!--else-->
                                    <!--{-->
                                    <!--<td>@Model[i].Post.employees.FullName</td>-->
                                    <!--}-->

                                    <!--<td>@Model[i].Post.PostTime</td>-->
                                    <!--<td>@Model[i].customers.LastName @Model[i].customers.Firstname</td>-->
                                    <!--<td>@Model[i].Report_Time</td>-->
                                    <!--<td>@Model[i].Reason</td>-->
                                    <!--<td>-->
                                        <!--<div class="modal-area-button">-->
                                            <!--<button type="button" id="Details" class="btn btn-custon-rounded-three btn-primary btn-xs" data-id="@Model[i].Post_Report_ID" data-toggle="modal" data-target="#PrimaryModalalert">Details</button>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--}-->
                                <!--}-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Static Table End -->
<!-- Details Post -->
<div id="PrimaryModalalert" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog">
        <div id="modal-content" class="modal-content"></div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

<script>
    var TeamDetailPostBackURL = '/Censor/Post/ReportDetails';
    $(function () {
        $("#Details").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/html; charset=utf-8",
                data: { "postReport_ID": id },
                datatype: "html",
                success: function (data) {
                    $('#modal-content').html(data);
                    $('#PrimaryModalalert').modal('show');
                },
                error: function () {
                    alert("Error: Get details of this Post failed. Please try again!");
                }
            });
        });
    });
</script>
</body>
</html>