<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/static/css/slideshow.css" rel="stylesheet" th:href="@{/css/slideshow.css}"/>
    <link href="/static/css/notifications/Lobibox.min.css" rel="stylesheet" th:href="@{/css/notifications/Lobibox.min.css}"/>
    <link href="/static/css/notifications/notifications.css" rel="stylesheet" th:href="@{/css/notifications/notifications.css}"/>


    <script src="/static/js/notifications/notification-active.js" th:src="@{/js/notifications/notification-active.js}"></script>
    <script src="/static/js/notifications/Lobibox.js" th:src="@{/js/notifications/Lobibox.js}"></script>
    <script src="/static/js/slideshow.js" th:src="@{/js/slideshow.js}"></script>
</head>
<body>
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Edit Customer</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">
                                            @using (Html.BeginForm("SaveCustomer", "Customer", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", @class = "dropzone dropzone-custom needsclick add-professors dz-clickable", @id = "demo1-upload", @novalidate = "novalidate" }))
                                            {
                                            @Html.EditorFor(model => model.Customer_ID, new { htmlAttributes = new { @style = "display: none" } })
                                            <div class="form-group">
                                                <label class="control-label" for="Firstname">First Name:</label>
                                                <input type="text" placeholder="Firstname" title="Please enter firstname" required="" value="" name="Firstname" id="Firstname" class="form-control"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="LastName">Last Name:</label>
                                                <input type="text" placeholder="LastName" title="Please enter lastName" required="" value="" name="LastName" id="LastName" class="form-control"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="phonenumber">Phonenumber :</label>
                                                <input type="text" placeholder="phonenumber" title="Please enter phonenumber" required="" value="" name="phonenumber" id="phonenumber" class="form-control"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="Email">Email :</label>
                                                <input type="text" placeholder="Email" title="Please enter email" required="" value="" name="Email" id="Email" class="form-control"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="Address">Address :</label>
                                                <input type="text" placeholder="Address" title="Please enter address" required="" value="" name="Address" id="Address" class="form-control"/>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-custon-rounded-four btn-primary" data-toggle="modal">Save</button>
                                                <button type="button" data-dismiss="modal" class="btn btn-custon-rounded-four btn-default">Cancel</button>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>